@import 'bootstrap/dist/css/bootstrap';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';


.search-area {
  padding-top: 50px;
}

.results-block {
  display: inline-block;
}

.user-name {
  margin-top: 3.5%;
  padding-right: 5px;
}
